<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Image-finder</title>
   <link rel="stylesheet" href="style.css">
</head>
<body>

  <h1>Hey there, I'am a Image Bot</h1>
  
  <h2>You can use me to search for Images</h2>
  <p>Just type in app url followed by search query :   </p>
  <code>"https://image-finder.glitch.me/search/dogs"</code>
  <p>you can even paginate your results by passing offset parameter like below</p>
  <code>"https://image-finder.glitch.me/search/dogs?offset=7"</code>
  
  <h2>You can search latest searched items too</h2>
  <p>Chill,its same as one above,you just need to replace search query with word latest: <br><br> <code>"https://image-finder.glitch.me/latest"</code>  </p>
  
</body>
</html>